[Unit]
Description=Gooby Services - Mount and cache remote volumes
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/true	# Dummy to allow the service to start without errors
RemainAfterExit=yes	# Keep running even though no tasks are executed

[Install]
WantedBy=multi-user.target
