[Unit]
Description=MergerFS overlay writable storage and local mount
After=syslog.target local-fs.target network.target rclonefs.service

[Service]
Type=forking
User=GOOBYUSER
Group=GOOBYUSER
EnvironmentFile=/var/local/Gooby/Docker/.env

ExecStartPre=/bin/mkdir -p ${UPLOADS} ${MEDIA} ${UNSYNCED}
ExecStart=/usr/bin/mergerfs \
	-o use_ino,hard_remove,auto_cache,sync_read,allow_other,category.action=all,category.create=ff \
	${UPLOADS}:${UNSYNCED}:${RCLONEMOUNT} ${MEDIA}
ExecStop=/bin/fusermount -uz ${MEDIA}
ExecStop=/bin/rmdir ${MEDIA}
Restart=always

[Install]
WantedBy=default.target
