[Unit]
Description=Mount Google Drive (rclone)
After=syslog.target local-fs.target network.target

[Service]
EnvironmentFile=/var/local/Gooby/Docker/.env

Type=simple
User=GOOBYUSER
Group=GOOBYUSER
ExecStartPre=/bin/mkdir -p ${RCLONEMOUNT}
ExecStart=/usr/bin/rclone mount \
	--allow-other \
	--checkers 12 \
	--checksum \
	--delete-during \
	--delete-excluded \
	--dir-cache-time 96h \
	--drive-chunk-size 32M \
	--fast-list \
	--gid ${USERID} \
	--log-level INFO \
	--log-file ${HOMEDIR}/logs/rclone.log \
	--rc \
	--rc-pass Go0by \
	--rc-user gooby \
	--timeout 1h \
	--transfers 12 \
	--tpslimit 10 \
	--uid ${GROUPID} \
	--umask 002 \
	--config ${HOMEDIR}/.config/rclone/rclone.conf \
	${RCLONESERVICE}:${RCLONEFOLDER} ${RCLONEMOUNT}
ExecStop=/bin/fusermount -uz ${RCLONEMOUNT}
ExecStop=/bin/rmdir ${RCLONEMOUNT}
Restart=always

[Install]
WantedBy=default.target unionfs.service mergerfs.service
