[Unit]
Description=Mount Google Drive (Rclone)
After=syslog.target local-fs.target network.target

[Service]
EnvironmentFile=/var/local/Gooby/Docker/.env

Type=simple
User=GOOBYUSER
Group=GOOBYUSER
ExecStartPre=/bin/mkdir -p ${RCLONEMOUNT}
ExecStart=/usr/bin/rclone mount \
	--allow-other \
	--dir-cache-time 96h \
	--gid ${USERID} \
	--log-level INFO \
	--log-file ${HOMEDIR}/logs/rclone.log \
	--uid ${GROUPID} \
	--umask 002 \
    --timeout=1h \
    --tpslimit=8 \
    --drive-skip-gdocs \
    --user-agent="${USERAGENT}" \
    --dir-cache-time="${DIR_CACHE}" \
    --vfs-cache-mode="${CACHE-MODE}" \
    --vfs-cache-max-age="${CACHE_MAX_AGE}" \
    --vfs-cache-max-size="${CACHE_MAX_SIZE}" \
    --vfs-read-chunk-size-limit="${CHUNK_SIZE_LIMIT}" \
    --vfs-read-chunk-size="${READ_CHUNK_SIZE}" \
    --buffer-size="${BUFFER_SIZE}" \
	--rc \
	--rc-pass ${RCLONEPASSWORD} \
	--rc-user ${RCLONEUSERNAME} \
	--config ${HOMEDIR}/.config/rclone/rclone.conf \
	${RCLONESERVICE}:${RCLONEFOLDER} ${RCLONEMOUNT}
ExecStop=/bin/fusermount -uz ${RCLONEMOUNT}
ExecStop=/bin/rmdir ${RCLONEMOUNT}
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3


[Install]
WantedBy=default.target unionfs.service mergerfs.service
