[Unit]
Description=Mount Google Drive (Rclone)
After=syslog.target local-fs.target network.target

[Service]
EnvironmentFile=/var/local/Gooby/Docker/.env

Type=simple
User=GOOBYUSER
Group=GOOBYUSER
ExecStartPre=/bin/mkdir -p ${RCLONEMOUNT}
ExecStart=/usr/bin/rclone mount \
	--allow-other \
	--buffer-size 0M \
	--dir-cache-time 96h \
	--gid ${USERID} \
	--log-level INFO \
	--log-file ${HOMEDIR}/logs/rclone.log \
	--timeout 1h \
	--uid ${GROUPID} \
	--umask 002 \
	--user-agent GOOBYUSER \
	--rc \
	--rc-pass ${RCLONEPASSWORD} \
	--rc-user ${RCLONEUSERNAME} \
	--config ${HOMEDIR}/.config/rclone/rclone.conf \
	${RCLONESERVICE}:${RCLONEFOLDER} ${RCLONEMOUNT}
ExecStop=/bin/fusermount -uz ${RCLONEMOUNT}
ExecStop=/bin/rmdir ${RCLONEMOUNT}
Restart=always

[Install]
WantedBy=default.target unionfs.service mergerfs.service
