[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
User=plexuser
Group=plexuser
Type=simple
ExecStart=/usr/bin/mono /opt/Radarr/Radarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
