[Unit]
Description=Mount and cache Google drive to /media/Plex
After=syslog.target local-fs.target network.target

[Service]
Environment=RCLONEHOME=/home/plexuser/.config/rclone
Environment=MOUNTTO=/media/Plex
Environment=LOGS=/home/plexuser/logs

Type=simple
User=root
ExecStartPre=/bin/mkdir -p ${MOUNTTO}
ExecStartPre=/bin/mkdir -p ${LOGS}
ExecStart=/usr/bin/rclone mount \
  --rc \
  --log-file ${LOGS}/rclone.log \
  --log-level INFO \
  --umask 022 \
  --allow-other \
  --fuse-flag sync_read \
  --tpslimit 10 \
  --tpslimit-burst 10 \
  --dir-cache-time=160h \
  --cache-chunk-size=5M \
  --cache-info-age=168h \
  --cache-workers=8 \
  --buffer-size=0M \
  --attr-timeout=1s \
  --cache-dir=${RCLONEHOME} \
  --cache-chunk-path=${RCLONEHOME} \
  --cache-db-path=${RCLONEHOME} \
  --cache-total-chunk-size=10G \
  --cache-chunk-clean-interval=1m \
  --cache-tmp-upload-path=${RCLONEHOME}/upload \
  --cache-tmp-wait-time=5m \
  --config ${RCLONEHOME}/rclone.conf \
  GdriveCache: ${MOUNTTO}
ExecStop=/bin/fusermount -u -z ${MOUNTTO}
ExecStop=/bin/rmdir ${MOUNTTO}
Restart=always

[Install]
WantedBy=multi-user.target
