
[Unit]
Description=Mount and cache Google drive to /media/Plex
After=syslog.target local-fs.target network.target

[Service]
Environment=RCLONEHOME=$HOME/.config/rclone
Environment=MOUNTTO=/media/Plex
Environment=LOGS=$HOME/logs/rclone.log
Environment=UPLOADS=$HOME/uploads

Type=simple
User=root
ExecStartPre=/bin/mkdir -p ${MOUNTTO}
ExecStartPre=/bin/mkdir -p ${LOGS}
ExecStartPre=/bin/mkdir -p ${UPLOADS}
ExecStart=/usr/bin/rclone mount \
	--rc \
	--allow-non-empty \
	--allow-other \
	--buffer-size=1G \
	--dir-cache-time 72h \
	--drive-chunk-size 32M \
	--fast-list \
	--log-level INFO \
	--log-file ${LOGS} \
	--umask 022 \
	--vfs-read-chunk-size 128M \
	--vfs-read-chunk-size-limit off \
	--config ${RCLONEHOME}/rclone.conf \
	Gdrive: ${MOUNTTO}
ExecStop=/bin/fusermount -u -z ${MOUNTTO}
ExecStop=/bin/rmdir ${MOUNTTO}
Restart=always

[Install]
WantedBy=multi-user.target
